body{
  border:10px solid green;
  font-size:17px;
  font-family: Arial;
}
h1{
  color:red;
  text-align:center;
  text-transform:uppercase;
}
img{
  width:500px;
  height:500px;
  float:left;
}
.p1{
  color:blue;
  }
.p2{
  text-decoration:underline;
  color:blue;
}
.p3{
  color:blue;
}
.p4{
  color:blue;
}
.p5{
  color:blue;
}
a{
  font-weight:bold;
}
